format = """
[](#{{base02-hex}})\
$os\
$username\
$directory\
[](fg:#{{base02-hex}} bg:#{{base0B-hex}})\
$git_branch\
$git_status\
[▓▒░](#{{base0B-hex}})
$character\
"""

# Disable the blank line at the start of the prompt
#add_newline = false

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
[username]
show_always = true
style_user = "bg:#{{base02-hex}} fg:#{{base07-hex}}"
style_root = "bg:#{{base02-hex}} fg:#{{base07-hex}}"
format = '[ $user ](bold $style)'
disabled = false

[directory]
style = "bg:#{{base02-hex}} fg:#{{base07-hex}}"
format = "[  $path ](bold $style)"
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = ""
style = "bg:#{{base0B-hex}} fg:#{{base00-hex}}"
format = '[ $symbol $branch ](bold $style)'

[git_status]
style = "bg:#{{base0B-hex}} fg:#{{base00-hex}}"
format = '[$all_status$ahead_behind ](bold $style)'

[character]
success_symbol = '[](bold {{base05-hex}}) '
error_symbol = '[ ✗](#{{base07-hex}}) '

[fill]
symbol = '-'
style = 'fg:#{{base00-hex}}'

[battery]
full_symbol = '󱈑 '
charging_symbol = '󰂄 '
discharging_symbol = '󰂃 '
format = '[ $symbol]($style)'

[[battery.display]]
threshold = 20
style = 'bold #{{base08-hex}} bg:#{{base02-hex}}'

[[battery.display]]
threshold = 50
style = 'bold #{{base0A-hex}} bg:#{{base02-hex}}'

[[battery.display]]
threshold = 100
style = 'bold #{{base0B-hex}} bg:#{{base02-hex}}'


[time]
disabled = false
style = 'bg:#{{base02-hex}} fg:#{{base07-hex}}'
format = '[$time ](bold $style)'