format = """
[░▒▓](#{{base05-hex}})\
[ 󰉊 ](bg:#{{base05-hex}} fg:#{{base00-hex}})\
[](bg:#{{base07-hex}} fg:#{{base05-hex}})\
$directory\
[](fg:#{{base07-hex}} bg:#{{base03-hex}})\
$git_branch\
$git_status\
[](fg:#{{base03-hex}} bg:#{{base02-hex}})\
$nodejs\
$rust\
$golang\
$php\
[](fg:#{{base02-hex}} bg:#{{base01-hex}})\
$time\
[ ](fg:#{{base01-hex}})\
\n$character"""

[directory]
style = "fg:#{{base00-hex}} bg:#{{base07-hex}}"
format = "[ $path ](bold $style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[git_branch]
symbol = ""
style = "bg:#{{base03-hex}}"
format = '[[ $symbol $branch ](fg:#{{base0B-hex}} bg:#{{base03-hex}})]($style)'

[git_status]
style = "bg:#{{base03-hex}}"
format = '[[($all_status$ahead_behind )](fg:#{{base0B-hex}} bg:#{{base03-hex}})]($style)'

[nodejs]
symbol = ""
style = "bg:#{{base02-hex}}"
format = '[[ $symbol ($version) ](fg:#{{base05-hex}} bg:#{{base02-hex}})]($style)'

[rust]
symbol = ""
style = "bg:#{{base02-hex}}"
format = '[[ $symbol ($version) ](fg:#{{base05-hex}} bg:#{{base02-hex}})]($style)'

[golang]
symbol = ""
style = "bg:#{{base02-hex}}"
format = '[[ $symbol ($version) ](fg:#{{base05-hex}} bg:#{{base02-hex}})]($style)'

[php]
symbol = ""
style = "bg:#{{base02-hex}}"
format = '[[ $symbol ($version) ](fg:#{{base05-hex}} bg:#{{base02-hex}})]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#{{base01-hex}}"
format = '[[  $time ](fg:#{{base07-hex}} bg:#{{base01-hex}})]($style)'
