gtk-color-scheme = "foreground:#{{base05-hex}}"
gtk-color-scheme = "background:#{{base00-hex}}"
gtk-color-scheme = "background_alt:#{{base01-hex}}"
gtk-color-scheme = "accent:#{{base07-hex}}"

include "widgets/default"
include "widgets/buttons"
include "widgets/menu"
include "widgets/entry"
include "widgets/notebook"
include "widgets/range"
include "widgets/scrollbar"
include "widgets/toolbar"
include "widgets/progressbar"
include "widgets/misc"
include "widgets/styles"
