hide-cursor = true

corner-radius=5
anchor=center
outline-width=0
border-width=2

width = 400
height = 600
result-spacing = 14
num-results = 15

font = JetBrainsMono Nerd Font
font-size = 12
text-cursor=true
prompt-text = "  run "
prompt-padding=5

selection-background-corner-radius=3
selection-background-padding=5, -1

# Base16 {{scheme-name}}
# {{scheme-author}}

background-color = #{{base00-hex}}
outline-color= #{{base07-hex}}
border-color= #{{base07-hex}}
text-color= #{{base05-hex}}
prompt-color= #{{base05-hex}}
placeholder-color= #{{base01-hex}}
input-color= #{{base07-hex}}
selection-color= #{{base00-hex}}
selection-background= #{{base07-hex}}
