
# Base16 {{scheme-name}}
# {{scheme-author}}

background-color = #{{base00-hex}}
outline-color= #{{base07-hex}}
border-color= #{{base07-hex}}
text-color= #{{base05-hex}}
prompt-color= #{{base05-hex}}
placeholder-color= #{{base01-hex}}
input-color= #{{base07-hex}}
selection-color= #{{base00-hex}}
selection-background= #{{base07-hex}}
