## -- Initialize --
ignore-empty-password
ignore-empty-password

color={{base00-hex}}ff


## -- Caps Lock --
disable-caps-lock-text
indicator-caps-lock
caps-lock-bs-hl-color={{base05-hex}}ff
#Sets the color of backspace highlight segments when Caps Lock is active.
caps-lock-key-hl-color={{base07-hex}}ff
#Sets the color of the key press highlight segments when Caps Lock is active.
inside-caps-lock-color={{base00-hex}}ff
#Sets the color of the inside of the indicator when Caps Lock is active.
line-caps-lock-color={{base0B-hex}}ff
#Sets the color of the line between the inside and ring when Caps Lock is active.
ring-caps-lock-color={{base0B-hex}}ff
#Sets the color of the ring of the indicator when Caps Lock is active.
text-caps-lock-color={{base05-hex}}ff
#Sets the color of the text when Caps Lock is active.


## -- Invalid --
inside-wrong-color={{base08-hex}}ff
#Sets the color of the inside of the indicator when invalid.
line-wrong-color={{base05-hex}}ff
#Sets the color of the line between the inside and ring when invalid.
ring-wrong-color={{base08-hex}}ff
#Sets the color of the ring of the indicator when invalid.
text-wrong-color={{base08-hex}}ff
#Sets the color of the text when invalid.


## -- Verify --
inside-ver-color={{base0D-hex}}ff
#Sets the color of the inside of the indicator when verifying.
line-ver-color={{base05-hex}}ff
#Sets the color of the line between the inside and ring when verifying.
ring-ver-color={{base0D-hex}}ff
#Sets the color of the ring of the indicator when verifying.
text-ver-color={{base0D-hex}}ff
#Sets the color of the text when verifying.


## -- Clear --
inside-clear-color={{base00-hex}}ff
#Sets the color of the inside of the indicator when cleared.
line-clear-color={{base05-hex}}ff
#Sets the color of the line between the inside and ring when cleared.
ring-clear-color={{base05-hex}}ff
#Sets the color of the ring of the indicator when cleared.
text-clear-color={{base05-hex}}ff
#Sets the color of the text when cleared.


## -- Indicator --
indicator-idle-visible
indicator-radius=150
#Sets the indicator radius. The default value is 50.
indicator-thickness=18
#Sets the indicator thickness. The default value is 10.


## -- Inside --
inside-color={{base01-hex}}ff
#Sets the color of the inside of the indicator.


## -- Highlights --
key-hl-color={{base07-hex}}ff
#Sets the color of the key press highlight segments.
bs-hl-color={{base05-hex}}ff
#Sets the color of backspace highlight segments.
separator-color={{base07-hex}}ff
#Sets the color of the lines that separate highlight segments.


## -- Inner Line --
#line-uses-inside
#Use the inside color for the line between the inside and ring.
line-uses-ring
#Use the ring color for the line between the inside and ring.
#line-color=$PRIMARY
#Sets the color of the line between the inside and ring.


## -- Ring --
ring-color={{base01-hex}}ff
#Sets the color of the ring of the indicator when typing or idle.


## -- Text --
font=JetBrainsMono Nerd Font
font-size=34
clock
timestr=%T
datestr=%a
text-color={{base05-hex}}ff
#Sets the color of the text.
