{
        "layer": "top",
        "position": "bottom",
        "margin": 0,
        "margin-top": 4,
        "modules-left": ["user", "hyprland/workspaces", "custom/tri_right"],
        "modules-center": ["cava", "custom/triA_left", "mpris", "custom/triA_right", "cava"],
        "modules-right": ["custom/tri_left", "tray", "idle_inhibitor", "pulseaudio", "backlight", "battery", "custom/pacman", "clock"],
        
        "custom/tri_left": {
		"format": "",
		"tooltip": false
	},
	"custom/tri_right": {
		"format": "",
		"tooltip": false
	},

        "custom/triA_left": {
		"format": "",
		"tooltip": false
	},
	"custom/triA_right": {
		"format": "",
		"tooltip": false
	},

        "mpris": {
                "format": "Not Playing :3",
                "format-paused": "˜”• <i>{title}</i> •”˜",
                "format-playing": "˜”• {title} •”˜",
                // "ignored-players": ["firefox"]
                "title-len": 45
        },

        "cava": {
                "framerate": 30,
                "autosens": 1,
                "bars": 20,
                "hide_on_silence": false,
                "reverse": true,
                "noise_reduction": 0.1,
                "lower_cutoff_freq": 20,
                "higher_cutoff_freq": 4000,
                "method": "pipewire",
                "source": "auto",
                "stereo": true,
                "input_delay": 2,
                "bar_delimiter": 32,
                "format-icons" : ["▁", "▂", "▃", "▄", "▅", "▆", "▇", "█" ]
        },

        "battery": {
                "states": {
                        "warning": 70,
                        "critical": 60
                },
                "format": "{icon}",
                "format-charging": "󱈑",
                "format-plugged": "󱈑",
                "format-icons": ["󰂃", "󰂃", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"],
                "tooltip-format": "{capacity}%"

        },

        "backlight": {
                "device": "intel_backlight",
                "states": {
                        "low": 0,
                        "reg": 30,
                        "high": 70
                },
                "format": "{icon}",
                "format-icons": ["󰃛", "󰃜", "󰃝", "󰃞", "󰃟", "󰃠"]
        },

        "hyprland/workspaces": {
		"all-outputs": true,
                "format": "{id}",
                "format-icons": {
                        "active": "", 
                        "empty": "",
                        "persistent": "",
                        "default": ""
                },
		"persistent-workspaces": {
                        "*": 5
                }

        },

        "user": {
                "format": "{user}",
                "icon": false
        },

        "cpu": {
                "interval": 10,
                "format": " {}%",
                "max-length": 10
        },

        "memory": {
                "interval": 30,
                "format": " {used:0.1f}G/{total:0.1f}G"
        },

        "disk": {
                "interval": 30,
                "format": "󰋊 {percentage_used}%",
                "path": "/"
        },

         "temperature": {
                // "thermal-zone": 2,
                // "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
                // "critical-threshold": 80,
                // "format-critical": "{temperatureC}°C ",
                "format": "{temperatureC}°C "
        },

        "tray": {
                "show-passive-items": true,
                "icon-size": 12,
                "spacing": 8
        },

        "custom/pacman": {
                "format": "{icon}",
                "return-type": "json",
                "format-icons": {
                        "pending-updates": "󱠛",
                        "updated": "󱤱"
                },
                "exec-if": "which waybar-updates",
                "exec": "waybar-updates"
        },

        "pulseaudio": {
                "format": "{icon}",
                "format-bluetooth": "{icon}",
                "format-bluetooth-muted": "{icon}",
                "format-muted": "󰖁",
                "format-icons": {
                        "headphone": "󰋋",
                        "hands-free": "",
                        "headset": "",
                        "phone": "",
                        "portable": "",
                        "car": "",
                        "default": ["󰕿", "󰖀", "󰕾"]
                },
                "on-click": "pavucontrol"
        },

        "clock": {
                "format": "{:%H:%M}",
                "format-alt": "{:%H:%M}"
        },

        "idle_inhibitor": {
                "format": "{icon}",
                "format-icons": {
                        "activated": "󰒳",
                        "deactivated": "󰒲"
                }
        }
        

    }