@define-color bg0       #{{base00-hex}};
@define-color bg1       #{{base01-hex}};
@define-color bg2       #{{base02-hex}};
@define-color bg3       #{{base03-hex}};
@define-color bg4       #{{base04-hex}};
@define-color text      #{{base05-hex}};
@define-color accentD   #{{base06-hex}};
@define-color accent    #{{base07-hex}};
@define-color red       #{{base08-hex}};
@define-color orange    #{{base09-hex}};
@define-color yellow    #{{base0A-hex}};
@define-color green     #{{base0B-hex}};
@define-color aqua      #{{base0C-hex}};
@define-color blue      #{{base0D-hex}};
@define-color purple    #{{base0E-hex}};
@define-color brown     #{{base0F-hex}};

    * {
        /* intall `otf-font-awesome` and then add below if not using a nerd font */
        font-family: JetBrainsMono Nerd Font;
    }

    window#waybar {
        background-color: @bg0;
        border-radius: 8px;
        transition-property: background-color;
        transition-duration: .5s;
        
    }

    /*
        Global Config 
        add your moduals here to theme them
    */
    #clock,
    #battery,
    #pulseaudio,
    #tray,
    #idle_inhibitor,
    #user,
    #workspaces,
    #custom-pacman{
        font-size: 12px;
        font-weight: 800;
        padding: 5 8px;
        margin: 8 4px;
        border-radius: 5px;
        background-color: @bg1;
        color: @text;
    }

    /*
        Icons
        any moduals that only contain an icon add here
        the #tray modual needs to be set in the config file
    */
    #battery,
    #pulseaudio,
    #idle_inhibitor,
    #custom-pacman{
        font-size: 22px;
        font-weight: 900;
        padding: 5 0px;
    }
    

    button {
        /* Use box-shadow instead of border so the text isn't offset */
        border: none;
    }
    
    /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
    button:hover {
        background: inherit;
        border-radius: 0;
    }


    /*
        Indivisual Configs
        if anything appears weird or needs tweaking add '#ModualName' and tweak it
    */

    #battery.charging, #battery.plugged {
        color: @green;
    }
    
    #battery.critical:not(.charging) {
        color: @red;
    }


    /* Workspaces needs weird margins because of horizontal text, adjust if changing font size/icons */
    #workspaces {
        font-size: 12;
        margin: 0px;
        margin-right: 5px;
        background-color: transparent;
    }

    #workspaces button {
        color: @text;
        margin: 0px;
        padding: 5 0px;
    }

    #workspaces button.persistent {
        color: @text;
        opacity: 1;
    }

    #workspaces button.empty {
        color: @text;
        opacity: 0.2;
    }

    #workspaces button.active {
        color: @accent;
        opacity: 1;
    }
    
    #workspaces button:hover {
        color: @yellow;
        opacity: 1;
    }
    
    #workspaces button.urgent {
        color: @blue;
        opacity: 1;
    }
    
    #user {
        font-size: 14px;
        color: @bg0;
        background-color: @accent;
        padding: 5 8px;
        font-weight: 900;
    }

    #custom-pacman.pending-updates {
        color: @red;
    }

    #pulseaudio.muted {
        color: @red;
    }
    
    #idle_inhibitor{
        padding-left: 3px;
        padding-right: 7px;
        margin-bottom: 4px;
    }

    #idle_inhibitor.activated {
        color: @red;
    }

    #clock {
        font-size: 22px;
        font-weight: 900;
        padding: 5 1px;
        background-color: @bg1;
        color: @text;
    }

    #tray {
        font-size: 0px;
        font-weight: 800;
        padding: 5 0px;
        background-color: @bg1;
        color: @text;
    }

    #battery {
        margin-top: 4px;
    }