@define-color layer0    #{{base00-hex}};
@define-color layer1    #{{base01-hex}};
@define-color layer2    #{{base02-hex}};


@define-color bg0       #{{base00-hex}};
@define-color bg1       #{{base01-hex}};
@define-color bg2       #{{base02-hex}};
@define-color bg3       #{{base03-hex}};
@define-color bg4       #{{base04-hex}};
@define-color text      #{{base05-hex}};
@define-color accentD   #{{base06-hex}};
@define-color accent    #{{base07-hex}};
@define-color red       #{{base08-hex}};
@define-color orange    #{{base09-hex}};
@define-color yellow    #{{base0A-hex}};
@define-color green     #{{base0B-hex}};
@define-color aqua      #{{base0C-hex}};
@define-color blue      #{{base0D-hex}};
@define-color purple    #{{base0E-hex}};
@define-color brown     #{{base0F-hex}};