@define-color background #{{base00-hex}};
@define-color background_alt #{{base01-hex}};
@define-color background_urgent #{{base02-hex}};
@define-color foreground #{{base05-hex}};
@define-color accent #{{base07-hex}};